/* For the container element */
.ocr-container-Multilingual-OCR {
    overflow: auto;
}
  
  /* For the <pre> element */
  .ocr-output-Multilingual-OCR {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
    max-height: 100%;
    padding: 0.5em;
    user-select: text;
    cursor: text;
}

/* for arabic text */
.isArabic-Multilingual-OCR {
    direction: rtl;
    text-align: right;
}

/* Style for the title element */
.ocr-title-Multilingual-OCR {
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.modal-input-Multilingual-OCR {
    width: 100%;
    margin-bottom: 2vh;
}
  